<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS AND SCRIPTS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/pedestrian_icon.png">
    <!-- BLOCK TITLE  -->
    <title>Keep Me Safe! - {% block title %} {% endblock %}</title>
    <script src="https://kit.fontawesome.com/0c7f5e112b.js" crossorigin="anonymous"></script>
    {% block head_script %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container-fluid">
          <!-- BLOCK INDEX -->
          <a class="navbar-brand" href="{{ url_for('index')}}"><img id="logo" src="../static/images/ped-site-logo-v2.png"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('index', _anchor='intro')}}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link active" aria-current="page"  href="{{ url_for('index', _anchor='motivation')}}">Motive</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link active" aria-current="page"  href="{{ url_for('index', _anchor='resources')}}">Resources</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link active" aria-current="page"  href="{{ url_for('index', _anchor='team')}}">Team</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link active" aria-current="page"  href="{{ url_for('visualize')}}">Visualize</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link active" aria-current="page"  href="{{ url_for('predict')}}">Predict</a>
                </li>
              </ul>
          </div>
        </div>
    </nav>
    <div class="container" id="body-extend">
        <!-- BLOCK CONTENT -->
        {% block content %} {% endblock %}
    </div>

    <footer style="font-size: 0.75em; text-align: center; margin-bottom: .75%; color: #C3C3C3;">Made with <i class="fa-solid fa-mug-saucer fa-bounce"></i> and <i class="fa-solid fa-heart fa-shake"></i></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block body_scripts %} {% endblock %}
  </body>
</html>