{% extends 'base.html' %}

<!-- TITLE -->
{% block title %}Predict{% endblock %}

<!-- HEAD SCRIPTS -->
{% block head_script %}
<script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
<script>
    async function get_address() {
        let monthDictionary = {
            'January': 0, 
            'February': 1, 
            'March': 2, 
            'April': 3, 
            'May': 4, 
            'June': 5, 
            'July': 6, 
            'August': 7,
            'September': 8, 
            'October': 9, 
            'November': 10, 
            'December': 11
        }

        // fetch the address
        let addr1 = document.getElementById('user-start').value;
        let addr2 = document.getElementById('user-end').value;
        let get_date = new Date(Date.now()).toString();

        // fetch the datetime
        if(document.getElementById('set-datetime-radio').checked)
        {
            let hour = Number(document.getElementById('predict-hour').value);
            let minute = Number(document.getElementById('predict-minute').value);
            let day = Number(document.getElementById('predict-day').value);
            let month = document.getElementById('predict-month').value;

            get_date = new Date(2023, monthDictionary[month], day, hour, minute).toString();
        }

        // split the date to ready for model
        get_date = get_date.split(" ");
        // if user submits invalid date, go check
        if(get_date.includes("Invalid"))
        {
            alert("Invalid date and/or time! Please check your input before submitting.");
            return;
        }

        let user_date = get_date[3] + "/" + get_date[1] + "/" + get_date[2] + " " + get_date[4];

        // fetch the link related to the cb_viz which calls the flask function
        let response = await fetch("/route_predict/getRoute?addr1=" + addr1 + "&addr2=" + addr2 + "&user_datetime=" + user_date);
    
        // if the call is sucessful
        if (response.ok) {
            let responseJson = await response.json();
            if (response.ok) {
                // convert address json to actual json to use to plot
                chartJson = JSON.parse(responseJson.address);
                plot_graph = document.getElementById('chart');
                Plotly.newPlot(plot_graph, chartJson.data, chartJson.layout);

                // if the route is legit, format the message to include 
                // inputted route and date/time
                if (responseJson.real_route) {
                    document.querySelector('#return-address').innerText = ("From " + addr1 + " to " + addr2 + " on " + get_date[1] + " " + get_date[2] + " at " + get_date[4] + ", " + responseJson.msg);
                } else {
                    // else just print the error message
                    document.querySelector('#return-address').innerText = responseJson.msg;
                }
            } else { 
                    alert("HTTP-Error: " + response.status + " on getResponse for Predict");
                }
        } else {
            alert("HTTP-Error: " + response.status + " on getRoute");
        }
    }

    function setTime() {
        var oldTime;
        var time = new Date().toLocaleTimeString('en-US', 
            { hour12: false, hour: 'numeric', minute: 'numeric', second: 'numeric' });
        if (oldTime === time) {
            return;
        }
        oldTime = time;
        time = time.split(':');
        document.querySelector('#hours').innerText = time[0].padStart(2, "0");
        document.querySelector('#minutes').innerText = time[1].padStart(2, "0");
    }
    setInterval(setTime, 500);

    function setDate() {
        const DAYS = [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
        ];

        let currentDate = new Date();
        let cDOW = currentDate.getDay().toString().padStart(2, "0");
        let cDay = currentDate.getDate().toString().padStart(2, "0");
        let cMonth = (currentDate.getMonth() + 1).toString().padStart(2, "0");
        let cYear = currentDate.getFullYear();

        document.querySelector('#dow').innerText = DAYS[Number(cDOW)];
        document.querySelector('#year').innerText = cYear;
        document.querySelector('#month').innerText = cMonth;
        document.querySelector('#day').innerText = cDay;
    }
    setInterval(setDate, 500);

    window.onload = function() {
        get_address();
    };

    // these variables before the resize function hopefully stops multiple reloads
    var res;
    window.onresize = function() {
        // if (res){clearTimeout(res)};
        // res = setTimeout(get_address,100);

        if (res){clearTimeout(res)};
        res = setTimeout(get_address,50);
    }

</script>
{% endblock %}

<!-- BODY OF CONTENT -->
{% block content %}
<div id="predict-page">
    <div class="row g-3 align-self-center" id="predict-header">
        <h3>Our ML Model</h3>
        <h1>Predict traffic accident hotspots!</h1>
        <div id="blue-line"></div>
        <p>Use our model to help look into the future and highlight potential traffic accident hotspots on your route!</p>
    </div>
    
    <div class="row g-3" id="predict-section">
        <div class="card col-lg-4 flex-grow-1" id="user-info">
            <h2>Enter your route</h2>
            <p class="predict-instructions">Input the start and end address for your route. Make sure these addresses are both in San Francisco.</p>
            <!-- route stuff -->
            <div class="route-submission">
                <div id="user-input" class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Start Address</span>
                    </div>
                    <input type="text" class="form-control" id="user-start" value="1 Dr Carlton B Goodlett Pl" aria-describedby="user starting location" placeholder="Your starting location">
                </div>
    
                <div id="user-input" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">End Address</span>
                    </div>
                    <input type="text" class="form-control" id="user-end" value="151 3rd St, San Francisco" placeholder="Your ending location">
                </div>
            </div>

            <!-- datetime select -->
            <h2>Select the date and time</h2>
            <p class="predict-instructions">Select either the current or a future date and time.</p>
            <div class="datetime-input">
                <div class="form-check">
                    <input class="form-check-input" name="datetime-select" type="radio" id="current-datetime-radio" checked>
                    <label class="form-check-label current-datetime" for="current-datetime-radio">
                        <div id="current-time">
                            <p>Current Time: </p>
                            <div class="user-time">
                                <span id="hours"></span>
                                <span id="minutes"></span>
                            </div>
                        </div>
            
                        <div id="current-date">
                            <p>Current Date: </p>
                            <div class="user-date">
                                <span id="dow"></span>
                                <span id="year"></span>
                                <span id="month"></span>
                                <span id="day"></span> 
                            </div>
                        </div>
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" name="datetime-select" type="radio" id="set-datetime-radio">
                    <label class="form-check-label set-datetime" for="set-datetime-radio">
                        <div class="time-dropdown">
                            <p>Time:</p>
                            <div class="pick-time">
                                <select id="predict-hour" class="form-select" aria-label="Default select example">
                                    <option selected>Hr</option>
                                    {% for i in range(hour_len) %}
                                        <option value={{hour_list[i]}}>{{hour_list[i]}}</option>
                                    {% endfor %}
                                </select>
    
                                <select id="predict-minute" class="form-select" aria-label="Default select example">
                                    <option selected>Min</option>
                                    {% for i in range(min_len) %}
                                        <option value={{min_list[i]}}>{{min_list[i]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="date-dropdown">
                            <p>Date:</p>
                            <div class="pick-date">
                                <select id="predict-month" class="form-select" aria-label="Default select example">
                                    <option selected>M</option>
                                    {% for i in range(month_len) %}
                                        <option value={{month_list[i]}}>{{month_list[i]}}</option>
                                    {% endfor %}
                                </select>
    
                                <select id="predict-day" class="form-select" aria-label="Default select example">
                                    <option selected>D</option>
                                    {% for i in range(day_len) %}
                                        <option value={{day_list[i]}}>{{day_list[i]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </label>
                  </div>
            </div>
            <button type="submit" class="btn btn-primary" onclick="get_address()">Submit</button>

            <!-- results section -->
            <div id="relay-information">
                <div class="mb-3" id="address-info">
                    <h2>Prediction Results</h2>
                    <span id="return-address"></span>
                    <span id="return-coord"></span>
                </div>
            </div>
        </div>

        <div id="chart" class="container-fluid col-lg-8 col-12 chart"></div>
    </div>
</div>
{% endblock %}

<!-- BODY SCRIPTS -->
{% block body_script %}
<script>get_address();</script>
{% endblock %}